<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crud.singl.eyehealthv3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" /> -->
    <!--android:hardwareAccelerated="false"-->
    <!--android:supportsRtl="true"-->
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/eye_app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.eyeHealth">
        <activity android:name=".SplashFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".startup.MainActivity" /> -->
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".GuestUserActivity" />
        <activity android:name=".introHealth.DetailActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailsActivity" />

        <service android:name=".service.UsageService" />

        <receiver android:name=".receiver.PhoneBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ScreenStatusReceiver" />

        <activity android:name=".introHealth.ImpactActivity" />
        <activity android:name=".KnowledgeActivity" />
        <activity android:name=".introHealth.UserDetailKnowledgeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MemberProfileActivity"></activity>
    </application>

</manifest>